Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [50]:
%%time

import zipfile as z
import pandas as pd

zip_package = 'ml-1m.zip'
mov_in_zip = zip_package.strip('.zip') + '/movies.dat'
rat_in_zip = zip_package.strip('.zip') + '/ratings.dat'

# создание объекта с данными (это не str, а b"bytes\n", поэтому нужно перекодировать),
with z.ZipFile(zip_package, 'r') as data_in:
#     data_in.printdir()
#     print(data_in.namelist())

    # чтение файла с фильмами
    with data_in.open(mov_in_zip, 'r') as m:
        movies_list = [bytes.decode(line_, 'ISO-8859-1') for line_ in m.readlines()]
    
    # в pandas надо открывать файл, поэтому сохраняем в файл
    with open('movies_list.txt', 'w', encoding='utf-8') as out_file_1:
        out_file_1.writelines(''.join(movies_list))
    
    # то же самое для файла с рейтингами
    with data_in.open(rat_in_zip, 'r') as r:
        ratings_list = [bytes.decode(line_, 'ISO-8859-1') for line_ in r.readlines()]
  
    with open('ratings_list.txt', 'w', encoding='utf-8') as out_file_2:
        out_file_2.writelines(''.join(ratings_list))
    
# создаем датафреймы
with open('movies_list.txt', 'r', encoding='utf-8') as file_m:
    dfm = pd.read_csv(file_m, sep=r'::', names = ['MovieID', 'Title', 'Genres'], engine='python')
    
with open('ratings_list.txt', 'r', encoding='utf-8') as file_r:
    dfr = pd.read_csv(file_r, sep=r'::', names = ['UserID', 'MovieID', 'Rating', 'Timestamp'], engine='python')

# print(dfm.head)
# print(dfr.head)

# далее надо сделать join по графе с MovieID через pd.concat
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

# или join без concat
joined = dfr.merge(dfm, on='MovieID', how='left')
# убрали лишние графы
fltr_cls = joined[['Title', 'Rating']]
# убрали лишние строки
filtered = fltr_cls.query('Rating == 5')
# результат
result = filtered['Title'].value_counts().head(1)
print(str(result).split('    ')[0])

American Beauty (1999)
Wall time: 24.6 s

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [48]:
%%time

# список стран
cntr_list = ['Lithuania', 'Latvia', 'Estonia']
# импорт файла
data = pd.read_csv('power.csv')
# фильтр на строки по условиям задания
fltr_cntrs = (data[
                    ((data['country'] == cntr_list[0]) |
                     (data['country'] == cntr_list[1]) |
                     (data['country'] == cntr_list[2])) &
                    (2005 <= data['year']) &
                    (data['year'] <= 2010) &
                    ((data['category'] == 4) |
                     (data['category'] == 12) |
                     (data['category'] == 21)) &
                    (data['quantity'] > 0)
                    ])
# результат
print(sum(fltr_cntrs['quantity']))

240580.0
Wall time: 3.61 s

Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [49]:
mifns9 = pd.read_html('https://www.nalog.gov.ru/rn77/about_fts/fts/structure_fts/mri_fns/mi_kn_9/', encoding='utf-8')
mifns9[0]

  Unnamed: 0 Время работы инспекции      Перерыв
0         ПН             9:00-18:00  13:00-13:45
1         ВТ             9:00-18:00  13:00-13:45
2         СР             9:00-18:00  13:00-13:45
3         ЧТ             9:00-18:00  13:00-13:45
4         ПТ             9:00-16:45  13:00-13:45
5         ВС            не работает          NaN